		<form method="post" action="login">
			<input type="hidden" name="mode" value="login" />
			<div class="row">
				<label for="login">Логин или e-mail:</label>
				<label class="field text"><input type="text" name="username" id="login" tabindex="1" value="" /></label>
			</div>
			<div class="row">
				<label for="password">Пароль:</label>
				<button type="submit" class="signin-btn" tabindex="3">Войти</button>
				<label class="field password"><input type="password" name="password" id="password" tabindex="2" value="" /></label>
			</div>
		</form>
		<div class="clear-container"></div>
		<!--<p>
			<a href="registraciya/register.html" class="register">Регистрация</a>
			<a href="registraciya/forgot_password.html">Забыли пароль?</a>
		</p>-->
