<form method="post">
	<table class="tim_tbl" align="center">
	{{#form}}
		<tr><td>{{title}}</td><td>{{{.}}}</td></tr>
	{{/form}}
		<tr><td colspan="2">
			<input type="submit" name="apply" value="Применить">
			<input type="submit" name="save" value="Сохранить">
			</td></tr>
	</table>
</form>
