<table class="tim_tbl" border>
	<tr>
				<td>id</td>
				<td>Путь</td>
				<td>Заголовок</td>
				<td>Действия</td>
				<td>Sort</td>
				<td>Parent</td>
				<td>Children</td>
	</tr>
	{{#items}}
		{{>admin/Static/index_branch}}
	{{/items}}
</table>
<h2>Новая</h2>

<form method="post">
	<table class="tim_tbl" align="center">
	{{#form}}
		<tr><td>{{title}}</td><td>{{{.}}}</td></tr>
	{{/form}}
		<tr><td colspan="2">
			<input type="submit" name="add" value="Создать">
			</td></tr>
	</table>
</form>
