<table class="tim_tbl" align="center">
	<tr>
		<td>Путь</td>
		<td>Заголовок</td>
		<td>Действия</td>
	</tr>
{{#items}}
	<tr>
		<td>{{base_url}}{{path}}.html</td>
		<td>{{caption}}</td>
		<td>
			<a href="/admin/static/edit/{{id}}">править</a>
			<a href="{{base_url}}{{path}}.html" target=_blank>перейти</a>
			<a href="/admin/static/delete/{{id}}" onClick="return confirm('Точно удалить?');">удалить</a>
		</td>
	</tr>
{{/items}}
</table>
<h2>Новая</h2>
<form method="post">
	<table class="tim_tbl" align="center">
	{{#form}}
		<tr><td>{{title}}</td><td>{{{.}}}</td></tr>
	{{/form}}
		<tr><td colspan="2">
			<input type="submit" name="add" value="Создать">
			</td></tr>
	</table>
</form>
